.issues-titles-list{
    display: flex;
    flex-direction: column;
    gap:20px;
    padding: 10px;

}

.user-link{
    all:unset;
    cursor: pointer;
}

.user-link:hover{
    color: var(--main-blue-color);
}

.repo-name{
    color: var(--main-gray-color);
}

.title-link{
    text-decoration: none;
}
