.issues-titles-list{
    display: flex;
    flex-direction: column;
    height: 150px;
    overflow-x: hidden;
    gap:20px;
    overflow-y:scroll;
    padding: 10px;

}

.repo-name{
    color: var(--main-gray-color);
    text-align: center;
}

.title-link{
    text-decoration: none;
}
