.user-avatar{
    max-width: 65px;
    border-radius: 30px;
}

.user-link{
    display: flex;
    text-decoration: none;
    align-items: center;
    justify-content: space-between;
    
}

.user-name{
    color: var(--title-gray-color);
}

.user-link:hover h4{
    transition-duration:0.2s;
    color: var(--main-blue-color);
}