.input-container{
    display: flex;
    align-items: center;
    margin: 0 auto;
    justify-content: center;
    margin-bottom: 20px;
    flex-direction: column;
    gap: 20px;
}
.user-page-form{
    margin-bottom: 10px;
}

@media  (min-width: 768px) {
    .input-container{
        flex-direction: inherit;
        justify-content: space-around;
    }
    .user-with-repos{
        display: flex;
    }
}