.repo-link{
    all: unset;
    cursor: pointer;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}
.repo-item{
    -webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    border-radius: 30px;
    padding: 10px  10px 0px 10px;
    margin-bottom: 20px;    
    list-style-type: none;
}

.repo-info{
    display: flex;
    gap: 10px;
    flex-direction: column;
}

.issue-amount-text{
    color: var(--main-gray-color);
}

.updated-at-text{
    color: var(--main-gray-color);
}

.issue-amount-container{
    display: flex;
    gap: 5px;
}

.repo-name{
    color: var(--title-gray-color);
}

.repo-link:hover h4{
    color: var(--main-blue-color);
    transition-duration:0.2s;
}

.updated-at-container{
    display: flex;
    gap: 5px;
}

.repo-name{
    flex: 1;
    overflow: hidden;
    text-overflow: ellipsis;
}



@media (min-width:768px) {
    .repo-item{
        box-sizing: border-box;
        width: 49%;
    }
}