@font-face {
  font-family: "GoogleSans";
  src: url(/src/assets/fonts/GoogleSans-Regular.woff2);
}

:root {
  --main-blue-color: #1976d3;
  --main-gray-color: #a9a9a9;
  --title-gray-color: #666;
}

body,
h1,
h2,
h3,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd,
pre,
input,
button,
fieldset {
  padding: 0;
  margin: 0;
}

* {
  flex-shrink: 0;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-size-adjust: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

button {
  appearance: button;
}

a,
select:not(:disabled),
button:not(:disabled) {
  cursor: pointer;
}

::-moz-focus-inner {
  padding: 0;
  border-style: none;
}

img {
  display: block;
}
